.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    font-family: 'Karla';
}

.footer_background{
    position: absolute;
    background-color: #fff;
    padding: 51px 71px;
    border: 1px solid #1E1E1E;
    width: 1224px;
}

.footer_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.section{
    font-family: 'Karla';
    font-size: 20px;
    font-weight: bold;
}

.social_icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}